@media screen and (min-width: 64em) {
    .btn {
        padding: .75rem 1rem
    }
    .site-name {
        font-size: 3.25rem
    }
    .site-tagline {
        font-size: 1.25rem
    }
    .main-content {
        font-size: 1rem;
        margin: 0 auto;
        max-width: 64rem;
        padding: 2rem 6rem
    }
    .site-footer {
        font-size: .9rem
    }
    .page-header {
        padding: 2rem 3rem
    }
    .copy {
        float: right;
        width: 550px
    }
    .cropped-image-container {
        height: 300px;
        width: 300px
    }
    .header-image {
        margin-bottom: 25px;
        padding-top: 15px;
        width: 38%;
        float: left;
    }
    .page-header {
        padding: 2rem 3rem;
        height: 400px;
    }
}