@media screen and (min-width: 42em) and (max-width: 55em) {
    .btn {
        font-size: .9rem;
        padding: .6rem .9rem
    }

    .site-name {
        font-size: 2.25rem
    }

    .site-tagline {
        font-size: 1.15rem
    }

    .main-content {
        font-size: 1rem;
        padding: 1.75rem 4rem;
        margin: 0 auto;
    }

    .cropped-image-container {
        margin: auto;
    }

    .header-container {
        width: 95%
    }
}