@media screen and (min-width: 64em) {
    .btn {
        padding: .75rem 1rem
    }

    .site-name {
        font-size: 3.25rem
    }

    .site-tagline {
        font-size: 1.25rem
    }

    .main-content {
        font-size: 0.97rem;
        margin: 0 auto;
        max-width: 64rem;
        padding: 1.75rem 6rem 0rem;
    }

    .copy {
        float: right;
        width: 550px
    }

    .cropped-image-container {
        height: 300px;
        width: 300px
    }

    .header-image {
        margin-bottom: 25px;
        padding-top: 20px;
        width: 40%;
        float: left;
    }
    
    .page-header {
        height: 370px;
        padding-top: 1rem;
    }
}