---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Posts</h1>
  <div class="posts">
    {% for post in paginator.posts %}
    
    <div class="post">
      <div class="post-heading"><a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a></div>
      <div class="post-sub-heading"><span class="post-published-date">{{ post.date | date_to_long_string }}</span> &nbsp; <span class="post-read-time"><i class="fa fa-clock-o" aria-hidden="true"></i>   
      {% assign words = post.content | number_of_words %}
      {% if words < 275 %}
        1 minute
      {% else %}
        {{ words | divided_by:180 }} minutes
      {% endif %}
      </span></div>
      <div class="post-excerpt">{{ post.excerpt }}</div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous disabled">Previous</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next disabled">Next</span>
  {% endif %}
</div>
