<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#272727">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman-dark.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman-dark-max-42.css" rel='stylesheet' media="screen and (max-width: 42em)" type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman-dark-min-42-max-64.css" rel='stylesheet' media="screen and (min-width: 42em) and (max-width: 64em)" type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman-dark-min-64.css" rel='stylesheet' media="screen and (min-width: 64em)" type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
</head>