<section class="page-header">
  <div class="header-container">
   <div class="header-image">
      <div class="cropped-image-container">
        <a href="{{ site.baseurl }}/" aria-label="Home">
          <img src="{{ site.url }}/assets/images/profile.svg" alt="Profile Picture - Kevin Downs"/>
        </a>
      </div>  
    </div>
    <div class="copy">
      <div class="header-content">
        <h1 class="site-name">{{ site.title }}</h1>
        <h2 class="site-tagline">Hi, my name is <span class="highlight">Kevin Downs</span>. I'm a <span class="highlight">software engineer</span> by both trade and passion hailing from the South of Africa. I'm interested in all things <span class="highlight">technology</span>, <span class="highlight">programming</span>, and <span class="highlight">design</span>. Below you'll find my ramblings and on topics such as .NET, web development, databases and everything in between.</h2>  
      </div>
      <div class="header-social-media">
        <a href="{{ site.baseurl }}/" aria-label="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="https://twitter.com/kevindwns" aria-label="Twitter" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/kpdowns" aria-label="GitHub" target="_blank" rel="noopener"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="{{ site.author.url }}/feed.xml" aria-label="RSS Feed" target="_blank" rel="noopener"><i class="fa fa-rss" aria-hidden="true"></i></a>
      </div>
    </div>    
  </div>
</section>
<div class="header-divider"></div>